#cleark_Key
CLERK_PUBLISHABLE_KEY=
CLERK_PUBLISHABLE_KEY_TEST=
#Postgres connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cinema_db
POSTGRES_PORT=5432
JWT_SECRET=your_super_secret_jwt_key_here_minimum_32_characters_long
